.about-content {
    position: relative;
    z-index: 2;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-desc {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.about-me-container {
    box-sizing: border-box;
    width: 50%;
    height: 400px;
    border: 2px solid grey;
    border-radius: 25px;
    padding: 50px;
    overflow: auto;

    position: relative;
    box-shadow: var(--bg-shadow);
}

.about-me-blur-bg {
    position: absolute;
    inset: 0;
    border-radius: 25px;

    backdrop-filter: var(--backdrop-blur);
    -webkit-backdrop-filter: var(--backdrop-blur);

    background: var(--bg);
    box-shadow: var(--bg-shadow);
    z-index: 3;
}

.about-me-container p {
    position: relative;
    z-index: 4;
}

.about-me-list {
    box-sizing: border-box;
    width: 50%;
    height: 400px;
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.about-me-list li {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    border: 2px solid grey;
    border-radius: 25px;
    padding: 13px;
    padding-left: 20px;

    position: relative;
    box-shadow: 0 0 10px 2px grey;
}

.about-me-list-content {
    position: relative;
    z-index: 4;

    display: flex;
    align-items: center;
    gap: 20px;
}

.about-me-list-content img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.about-me-list-content div>h5 {
    font-size: 20px;
}

.about-me-list-content div>p {
    font-size: 18px;
}