.contact-me-container {
    position: relative;
    z-index: 2;

    width: 100%;
}

@media screen and (max-width: 768px) {
    .contact-me-container {
        display: flex;
        flex-direction: column;
    }
}

.contact-actions-container {
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    border-radius: 25px;
}

@media screen and (max-width:768px) {
    .contact-actions-container {
        flex-direction: column;
        order: 2;
        overflow: auto;
    }
}

/* Viewer Contacts Card */
.viewer-reach-out-form-container,
.viewer-reach-out-online-container {
    box-sizing: border-box;    

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    height: 100%;
    width: 50%;
    padding: 2rem;

    background: var(--input-label-bg);
    border-radius: 25px;

    box-shadow: var(--bg-shadow);
    border: 1px solid var(--input-border);
    
    text-align: center;
}

.viewer-reach-out-form-container h2,
.viewer-reach-out-online-container h2 {
    color: var(--text-secondary);
}

@media screen and (max-width:768px) {
    .viewer-reach-out-form-container,
    .viewer-reach-out-online-container {
        width: 100%;
    }

    .viewer-reach-out-form-container h2,
    .viewer-reach-out-online-container h2 {
        font-size: 15px;
    }
}

.form-container {
    height: inherit;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    background: transparent;
}

.form-row-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;

    width: 50%;

    background: transparent;
}

.form-row-container h4 {
    color: var(--text);
}

@media screen and (max-width:768px) {
    .form-container {
        flex-direction: column;
        gap: 10px;
    }
    
    .form-row-container {
        width: 100%;
        gap: 10px;
    }

    .form-row-container h4 {
        display: none;
    }
}

.form-row-container div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
    width: fit-content;

    position: relative;
    inset: 0;
}

.form-row-container div > label {
    position: absolute;
    top: -9px;
    left: 18px;

    padding: 0 10px;
    z-index: 7;

    background: var(--input-label-bg);
    /* background-clip: text;
    -webkit-background-clip: text; */
    color: var(--input-focus);

    font-size: 14px;
    width: fit-content;
}

.form-row-container div > input,
.form-row-container div > textarea,
.viewer-types-button button {
    box-sizing: border-box;
    padding: 0 20px;
    width: 300px;
    height: 50px;
    border: 2px solid var(--input-border);
    border-radius: 25px;
    color: var(--text);

    background: transparent;
    font-size: 14px;
}

@media screen and (max-width:768px) {
    .form-row-container div > label {
        top: -5px;
        font-size: 10px;
    }

    .viewer-types-button {
        position: relative;
    }

    .form-row-container div > input,
    .viewer-types-button button {
        width: 220px;
        height: 40px;
        font-size: 10px;
    }   
}

.viewer-types-button button {
    padding-right: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.viewer-types-button button:hover {
    cursor: pointer;
}

.form-row-container div > textarea {
    height: 140px;
    width: 300px;
    padding: 20px;
}

@media screen and (max-width:768px) {
    .form-row-container div > textarea {
        width: 220px;
    }
}

.form-row-container div > input:focus,
.form-row-container div > textarea:focus {
    outline: none;
}

.viewer-types-options-container {
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    list-style: none;
    padding: 5px 12px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    background: var(--background-solid-card);
    border-radius: 15px;
    overflow: auto;

    scrollbar-width: auto;
    scrollbar-color: var(--primary-color) transparent;
    scrollbar-gutter: stable;

    font-size: 12px;
}

@media screen and (max-width:768px) {
    .viewer-types-options-container {
        width: 220px;
        position: absolute;
        z-index: 10;
        
        top: 45px;
    }
}

.viewer-types-options-container li > button {
    width: 100%;
    height: 100%;
    border: none;
}

.viewer-types-options-container::-webkit-scrollbar {
    width: 6px;
}

.viewer-types-options-container::-webkit-scrollbar-track {
    background: var(--primary-color);
}

.viewer-types-options-container::-webkit-scrollbar-thumb {
    background: transparent;
}

.contact-me-form-submit-btn {
    box-sizing: border-box;
    padding: 10px 30px;
    border-radius: 25px;
    
    background: var(--button-primary-bg);
    color: var(--text-primary);
    font-size: 14px;
}

.contact-me-form-submit-btn:hover {
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .contact-me-form-submit-btn {
        padding: 8px 15px;
        font-size: 10px;
    }
}

.contact-me-list {
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-me-blur-bg {
    position: absolute;
    inset: 0;
    border-radius: 25px;

    backdrop-filter: var(--backdrop-blur);
    -webkit-backdrop-filter: var(--backdrop-blur);

    background: var(--bg);
    box-shadow: -3px -3px 3px var(--secondary-color);
    opacity: 0.7;
    z-index: 3;
}

@media screen and (max-width:768px) {
    .contact-me-blur-bg {
        border-radius: 12px;
    }
}

.contact-me-list li {
    box-sizing: border-box;
    width: 100%;
    height: 85px;
    border: 2px solid grey;
    border-radius: 25px;
    padding: 10px;
    padding-left: 20px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* transition: all 0.6s ease;
    opacity: 0.5; */

    animation: move 6s linear infinite;
}

@media screen and (max-width:768px) {
    .contact-me-list {
        height: fit-content;
    }

    .contact-me-list li {
        height: 60px;
        border-radius: 12px;
    }
}

@keyframes move {
    0% {
        box-shadow: -3px -3px 3px var(--secondary-color);
        transform: translateY(-5px);
        opacity: 0.5;
    }

    50% {
        box-shadow: -8px -8px 3px var(--secondary-color);
        transform: translateY(5px);
        opacity: 1;
    }

    100% {
        box-shadow: -3px -3px 3px var(--secondary-color);
        transform: translateY(-5px);
        opacity: 0.5;
    }
}

/* .contact-me-list li:hover {
    transform: translateY(5px);
    opacity: 1;
} */

.contact-me-list-content {
    position: relative;
    z-index: 4;

    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-me-list-content img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.contact-me-list-content div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.contact-me-list-content div>h5 {
    font-size: 20px;
}

.contact-me-list-content div>p {
    font-size: 18px;
}

@media screen and (max-width:768px) {
    .contact-me-list-content img {
        height: 20px;
        width: 20px;
    }

    .contact-me-list-content div>h5 {
        font-size: 14px;
    }

    .contact-me-list-content div > p {
        font-size: 10px;
    }
}