.nav-container {
    box-sizing: border-box;
    height: 70px;
    width: auto;
    padding: 20px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 1000;
    backdrop-filter: var(--backdrop-blur);
    background: rgba(138, 59, 194, 0.753); /* rgba(121, 120, 120, 0.589) */
    box-shadow: inset 0 0 20px var(--background-primary);

    border-radius: 50px;
    top: 5px;
    left: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .nav-container {
        padding: 10px 20px;
    }
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container p {
    color: var(--accent-purple);
    font-weight: bold;
    font-size: 30px;
}

.logo-container h3 {
    font-size: 23px;

    background: linear-gradient(90deg, var(--text-primary) 0%, var(--accent-indigo) 30%, var(--accent-cyan) 100%);

    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
}

@media screen and (max-width: 768px) {
    .logo-container p {
        font-size: 13px;
    }

    .logo-container h3 {
        font-size: 15px;
    }
}

.nav-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

@media screen and (max-width: 768px) {
    .nav-main-container {
        display: none;
    }
}

.nav-content-container {
    list-style: none;
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content-container a {
    text-decoration: none;
    color: var(--nav-inactive);

    position: relative;
    transition: all 0.3s ease;
}

.nav-content-container a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;

    width: 100%;
    height: 2px;
    background: var(--accent-cyan);

    transform: translateX(0%) scaleX(0);
    transform-origin: center;

    transition: transform 0.4s ease;
}

.nav-content-container a:hover {
    color: var(--primary-color);
    font-weight: bold;

    text-shadow: 0 0 10px var(--nav-active-glow), 0 0 20px var(--nav-active-glow);
}

.nav-content-container a:hover::after {
    transform: translateX(0%) scaleX(1);
}

.nav-admin-btn {
    box-sizing: border-box;
    padding: 9px;
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 12px;
    border: 0;

    background: var(--nav-inactive);
    color: var(--text-primary);

    transition: all 0.3s ease;
}

.nav-admin-btn:hover {
    background: var(--accent-violet);
    color: var(--text-primary);

    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .nav-mobile-main-container {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .nav-mobile-main-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .nav-mobile-main-container button {
        height: fit-content;
        width: fit-content;
        background: transparent;
        border: none;
    }

    .mobile-icon {
        color: var(--nav-inactive);
    }
}